<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/info', user: @user, book: @books %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
      <table class="table" id="new-comment">
        <%= render 'book_comments/comment_index', user: @user, book: @book %>

      </table>
      <%= render 'layouts/error', book: @comment %>
      <div id="comment_area">
        <%= render 'book_comments/comment_form', book: @book, comment: @comment %>
      </div>
    </div>
  </div>
</div>